﻿
@{
    ViewBag.Title = "Region List";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Master
        <small>Region</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Master</a></li>
        <li class="active">Region</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div id="data-list" class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Region List</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div id="grid-region"></div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-right">
            <button id="btn-add" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add New</button>
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->

    <div id="modal-detail" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-body">
                <div id="data-detail" class="box">
                    <form name="form1">
                        <div class="box-header with-border">
                            <h3 class="box-title">Region Detail</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                        title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-dismiss="modal">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-4 control-label">Region ID</div>
                                    <div class="col-md-6">
                                        <input data-bind="RegionID" type="text" name="RegionID" disabled class="form-control" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 control-label">Region Description (*)</div>
                                    <div class="col-md-6">
                                        <input data-bind="RegionDescription" type="text" name="RegionDescription" class="form-control" required maxlength="40" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10 text-left">(*) is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer text-center">
                            <button id="btn-back" type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-remove"></i> Close</button>
                            <button id="btn-save" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>


<!-- /.content -->

@section scripts
{
    <script>
        (function () {
            function Region() {
                return {
                    RegionID: 0,
                    RegionDescription: ''
                }
            }

            var scope = (function () {
                return Bind({
                    region: new Region()
                }, {
                        "region.RegionID": "[data-bind='RegionID']",
                        "region.RegionDescription": "[data-bind='RegionDescription']"
                    });
            }());
            var state = "new";
            var grid = gridview("grid-region", {
                url: "/Region/Paging",
                columns: [
                    {
                        text: "", render: function (c) {
                            var tmpl = "<a action='view'><i class='fa fa-search'></i></a>";
                            tmpl += "<a action='edit'><i class='fa fa-edit'></i></a>";
                            tmpl += "<a action='remove'><i class='fa fa-trash'></i></a>";
                            return tmpl;
                        }
                    },
                    { field: "RegionID", text: "Region ID", sortable: true },
                    { field: "RegionDescription", text: "RegionDescription", sortable: true }
                ],
                fieldKey: "RegionID",
                view: view,
                edit: edit,
                remove: remove
            });

            function view(reg) {
                scope.region = reg;
                showDetail();
                $("[data-bind]").attr("disabled", true);
                $("#btn-save").hide();
            }

            function edit(reg) {
                state = "update";
                var des = reg.RegionDescription.trim();
                scope.region = reg;
                scope.region.RegionDescription = des;
                showDetail();
                $("[data-bind]").not("[data-bind='RegionID']").attr("disabled", false);
                $("#btn-save").show();
            }

            function addNew() {
                state = "new";
                scope.region = new Region();
                var isValid = document.forms["form1"].checkValidity();
                $("#btn-save").attr("disabled", !isValid);
                showDetail();
                $("[data-bind]").not("[data-bind='RegionID']").attr("disabled", false);
                $("#btn-save").show();
            }

            function remove(reg) {
                Swal.fire({
                    title: "Confirmation",
                    text: "Are you sure?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "YES",
                    cancelButtonText: "NO",
                    confirmButtonColor: "red"
                })
                    .then(function (r) {
                        if (r.value) {
                            axios.post("/Region/Delete", { id: reg.RegionID })
                                .then(function (res) { return res.data; }, function (err) { console.log("Err: ", er); })
                                .then(function (res) {
                                    if (res.meta.success) {
                                        Swal.fire("Success", "Delete data success", "success")
                                            .then(function (r) {
                                                grid.reload();
                                            });
                                    } else {
                                        Swal.fire("Error", res.meta.message, "error");
                                    }
                                });
                        }
                    })
            }

            function showDetail() {
                $("#modal-detail").modal({ backdrop: "static" });
            }

            function save() {
                var url = "/Region/" + (state === "new" ? "Insert" : "Update");

                axios.post(url, { region: scope.region })
                    .then(function (res) { return res.data; }, function (err) { console.log("Err: ", er); })
                    .then(function (res) {
                        if (res.meta.success) {
                            Swal.fire("Success", "Save data success", "success")
                                .then(function (r) {
                                    $("#modal-detail").modal("hide");
                                    grid.reload();
                                });
                        } else {
                            Swal.fire("Error", res.meta.message, "error");
                        }
                    });
            }

            $("#btn-add").click(addNew);
            $("#btn-save").click(save);

            //validation
            var inputs = document.querySelectorAll("[data-bind]");
            inputs.forEach(function (el, i) {
                el.onchange = function (e) {
                    var inp = e.target;
                    if (!inp.validity.valid) {
                        var spanErr = document.createElement("span");
                        spanErr.style.color = "red";
                        spanErr.textContent = inp.validationMessage;
                        inp.parentElement.appendChild(spanErr);
                    } else {
                        var span = inp.parentElement.querySelector("span");
                        if (span) {
                            $(span).remove();
                        }
                    }
                    var isValid = document.forms["form1"].checkValidity();
                    $("#btn-save").attr("disabled", !isValid);
                }
            });

            //number validation
            $("[number]").addClass("text-right").on("keypress", function (e) {
                var code = (e.which) ? e.which : e.keyCode;
                if (!(code >= 46 && code <= 57 && code != 47)) {
                    return false;
                }
            });

        }());
    </script>
}
