﻿
@{
    ViewBag.Title = "Customer List";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Master
        <small>Customers</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div id="data-list" class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Customer List</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div id="grid-customer"></div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-right">
            <button id="btn-add" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add New</button>
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->

    <div id="data-detail" class="box" style="display: none">
        <form name="form1">
            <div class="box-header with-border">
                <h3 class="box-title">Customer Detail</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-2 control-label">Customer ID</div>
                        <div class="col-md-3">
                            <input data-bind="CustomerID" type="text" name="CustomerID" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <span data-bind="CustomerID"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 control-label">Company Name</div>
                        <div class="col-md-3">
                            <input data-bind="CompanyName" type="text" name="CompanyName" class="form-control" />
                        </div>
                        <div class="col-md-2 control-label">Region</div>
                        <div class="col-md-3">
                            <input data-bind="Region" type="text" name="Region" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 control-label">Contact Name</div>
                        <div class="col-md-3">
                            <input data-bind="ContactName" type="text" name="ContactName" class="form-control" />
                        </div>
                        <div class="col-md-2 control-label">Postal Code</div>
                        <div class="col-md-3">
                            <input data-bind="PostalCode" type="text" name="PostalCode" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2 control-label">Contact Title</div>
                        <div class="col-md-3">
                            <input data-bind="ContactTitle" type="text" name="ContactTitle" class="form-control" />
                        </div>
                        <div class="col-md-2 control-label">Country</div>
                        <div class="col-md-3">
                            <input data-bind="Country" type="text" name="Country" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2 control-label">Address</div>
                        <div class="col-md-3">
                            <input data-bind="Address" type="text" name="Address" class="form-control" />
                        </div>
                        <div class="col-md-2 control-label">Phone</div>
                        <div class="col-md-3">
                            <input data-bind="Phone" type="text" name="Phone" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2 control-label">City</div>
                        <div class="col-md-3">
                            <input data-bind="City" type="text" name="City" class="form-control" />
                        </div>
                        <div class="col-md-2 control-label">Fax</div>
                        <div class="col-md-3">
                            <input data-bind="Fax" type="text" name="Fax" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer text-center">
                <button id="btn-back" type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i> Back</button>
                <button id="btn-save" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
            </div>
        </form>
    </div>
</section>


<!-- /.content -->

@section scripts
{
    <script>
        (function () {
            function Customer() {
                return {
                    CustomerID: '',
                    CompanyName: '',
                    ContactName: '',
                    ContactTitle: '',
                    Address: '',
                    City: '',
                    PostalCode: '',
                    Region: '',
                    Country: '',
                    Phone: '',
                    Fax: ''
                }
            }
            var scope = (function () {
                return Bind({
                    customer: new Customer()
                }, {
                        "customer.CustomerID": "[data-bind='CustomerID']",
                        "customer.CompanyName": "[data-bind='CompanyName']",
                        "customer.ContactName": "[data-bind='ContactName']",
                        "customer.ContactTitle": "[data-bind='ContactTitle']",
                        "customer.Address": "[data-bind='Address']",
                        "customer.City": "[data-bind='City']",
                        "customer.Region": "[data-bind='Region']",
                        "customer.PostalCode": "[data-bind='PostalCode']",
                        "customer.Country": "[data-bind='Country']",
                        "customer.Phone": "[data-bind='Phone']",
                        "customer.Fax": "[data-bind='Fax']"
                    });
            }());
            var state = "new";
            var grid = gridview("grid-customer", {
                url: "/Customer/Paging",
                columns: [
                    {
                        text: "", render: function (c) {
                            var tmpl = "<a action='view'><i class='fa fa-search'></i></a>";
                            tmpl += "<a action='edit'><i class='fa fa-edit'></i></a>";
                            tmpl += "<a action='remove'><i class='fa fa-trash'></i></a>";
                            return tmpl;
                        }
                    },
                    { field: "CustomerID", text: "Customer ID", sortable: true },
                    { field: "CompanyName", text: "CompanyName", sortable: true },
                    { field: "ContactName", text: "ContactName", sortable: true },
                    { field: "ContactTitle", text: "ContactTitle", sortable: true },
                    { field: "Address", text: "Address", sortable: true },
                    { field: "City", text: "City", sortable: true },
                    { field: "Country", text: "Country", sortable: true }
                ],
                fieldKey: "CustomerID",
                view: view,
                edit: edit,
                remove: remove
            });

            function view(cus) {
                scope.customer = cus;
                showDetail();
                $("[data-bind]").attr("disabled", true);
                $("#btn-save").hide();
            }

            function edit(cus) {
                state = "update";
                scope.customer = cus;
                showDetail();
                $("[data-bind]").attr("disabled", false);
                $("[data-bind='CustomerID']").attr("disabled", true);
                $("#btn-save").show();
            }

            function addNew() {
                state = "new";
                scope.customer = new Customer();
                showDetail();
                $("[data-bind]").attr("disabled", false);
                $("#btn-save").show();
            }

            function remove(cus) {
                Swal.fire({
                    title: "Confirmation",
                    text: "Are you sure?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "YES",
                    cancelButtonText: "NO",
                    confirmButtonColor: "red"
                })
                    .then(function (r) {
                        if (r.value) {
                            axios.post("/Customer/Delete", { id: cus.CustomerID })
                                .then(function (res) { return res.data; }, function (err) { console.log("Err: ", er); })
                                .then(function (res) {
                                    if (res.meta.success) {
                                        Swal.fire("Success", "Delete data success", "success")
                                            .then(function (r) {
                                                grid.reload();
                                            });
                                    } else {
                                        Swal.fire("Error", res.meta.message, "error");
                                    }
                                });
                        }
                    })
            }

            function showDetail() {
                $("#data-list").fadeOut(250, function () { $("#data-detail").fadeIn(500) });
            }

            function showList() {
                $("#data-detail").fadeOut(250, function () { $("#data-list").fadeIn(500) });
            }

            function save() {
                var url = "/Customer/" + (state === "new" ? "Insert" : "Update");

                axios.post(url, { customer: scope.customer })
                    .then(function (res) { return res.data; }, function (err) { console.log("Err: ", er); })
                    .then(function (res) {
                        if (res.meta.success) {
                            Swal.fire("Success", "Save data success", "success")
                                .then(function (r) {
                                    showList();
                                    grid.reload();
                                });
                        } else {
                            Swal.fire("Error", res.meta.message, "error");
                        }
                    });
            }

            $("#btn-add").click(addNew);
            $("#btn-back").click(function () { showList(); });
            $("#btn-save").click(save);
        }());
    </script>
}
