﻿
@{
    ViewBag.Title = "Order List";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Transaction
        <small>Orders</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Transaction</a></li>
        <li class="active">Orders</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div id="data-list" class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Order List</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div id="grid-order"></div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-right">
            <button id="btn-add" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add New</button>
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->

    <div id="data-detail" class="box" style="display: none">
        <form name="form1">
            <div class="box-header with-border">
                <h3 class="box-title">Order Detail</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_detail" data-toggle="tab">Order Detail</a></li>
                        <li><a href="#tab_customer" data-toggle="tab">Customer</a></li>
                        <li><a href="#tab_products" data-toggle="tab">Products</a></li>
                        <li><a href="#tab_shipment" data-toggle="tab">Shipment</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_detail">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-2 control-label">Order ID</div>
                                    <div class="col-md-3">
                                        <input data-bind="OrderID" disabled type="text" name="OrderID" class="form-control" />
                                    </div>
                                    <div class="col-md-2 control-label">Employee</div>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input data-bind="EmployeeID" editable type="text" name="EmployeeName" class="form-control" />
                                            <div class="input-group-btn">
                                                <button id="btn-select-employee" type="button" class="btn btn-primary"><i class="fa fa-user"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 control-label">Order Date</div>
                                    <div class="col-md-3">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input data-bind="OrderDate" editable date-picker type="text" name="OrderDate" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2 control-label">Shipped Date</div>
                                    <div class="col-md-3">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input data-bind="ShippedDate" editable date-picker type="text" name="ShippedDate" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 control-label">Required Date</div>
                                    <div class="col-md-3">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input data-bind="RequiredDate" editable date-picker type="text" name="RequiredDate" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="col-md-2 control-label">Freight</div>
                                    <div class="col-md-3">
                                        <input data-bind="Freight" editable type="text" name="Freight" class="form-control text-right" number />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_customer">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-2 control-label">Customer ID</div>
                                    <div class="col-md-3">
                                        <input data-bind="CustomerID" editable type="text" name="CustomerID" class="form-control" readonly />
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-3">
                                        <button id="btn-select-customer" class="btn btn-primary" type="button"><i class="fa fa-user"></i> Select</buttonid="btn-select-customer">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 control-label">Company Name</div>
                                    <div class="col-md-3">
                                        <input data-bind="customer.CompanyName" type="text" name="CompanyName" class="form-control" readonly />
                                    </div>
                                    <div class="col-md-2 control-label">Region</div>
                                    <div class="col-md-3">
                                        <input data-bind="customer.Region" type="text" name="Region" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 control-label">Contact Name</div>
                                    <div class="col-md-3">
                                        <input data-bind="customer.ContactName" type="text" name="ContactName" class="form-control" readonly />
                                    </div>
                                    <div class="col-md-2 control-label">Postal Code</div>
                                    <div class="col-md-3">
                                        <input data-bind="customer.PostalCode" type="text" name="PostalCode" class="form-control" readonly />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2 control-label">Contact Title</div>
                                    <div class="col-md-3">
                                        <input data-bind="customer.ContactTitle" type="text" name="ContactTitle" class="form-control" readonly />
                                    </div>
                                    <div class="col-md-2 control-label">Country</div>
                                    <div class="col-md-3">
                                        <input data-bind="customer.Country" type="text" name="Country" class="form-control" readonly />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2 control-label">Address</div>
                                    <div class="col-md-3">
                                        <input data-bind="customer.Address" type="text" name="Address" class="form-control" readonly />
                                    </div>
                                    <div class="col-md-2 control-label">Phone</div>
                                    <div class="col-md-3">
                                        <input data-bind="customer.Phone" type="text" name="Phone" class="form-control" readonly />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2 control-label">City</div>
                                    <div class="col-md-3">
                                        <input data-bind="customer.City" type="text" name="City" class="form-control" readonly />
                                    </div>
                                    <div class="col-md-2 control-label">Fax</div>
                                    <div class="col-md-3">
                                        <input data-bind="customer.Fax" type="text" name="Fax" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_products">
                            <h4>Product List</h4>
                            <div style="overflow-x: scroll">
                                <table id="product-list" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Product ID</th>
                                            <th>Name</th>
                                            <th>Unit Price</th>
                                            <th>Quantity</th>
                                            <th>Discount</th>
                                        </tr>
                                    </thead>
                                    <tbody id="trProducts"></tbody>
                                </table>
                            </div>
                            <div style="margin-top: 20px; position: relative">
                                <div id="upload-container" class="upload-container">
                                    <div style="width: 600px">
                                        <input id="file-excel" type="file" name="file-excel" style="display: none" accept=".xlsx" />
                                        <input id="file-name" type="text" name="file-name" class="form-control" style="width: 250px; display: inline-block" />
                                        <label id="btn-select-excel" for="file-excel" class="btn btn-primary"><i class="fa fa-file-excel-o"></i> Select</label>
                                        <a href="~/Template/Products-template.xlsx" target="_blank" class="btn btn-primary"><i class="fa fa-file-archive-o"></i> Template</a>
                                        <button id="btn-upload" type="button" class="btn btn-primary"><i class="fa fa-upload"></i> Upload</button>
                                    </div>
                                    
                                </div>
                                <div style="position: absolute; right: 0; display: inline-block">
                                    <button id="btn-show-upload" type="button" class="btn btn-primary"><i class="fa fa-chevron-circle-up"></i> Upload Excel</button>
                                    <button id="btn-add-product" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add Product</button>
                                </div> 
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_shipment">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-2 control-label">Shipper ID</div>
                                    <div class="col-md-3">
                                        <input data-bind="ShipVia" editable type="text" name="ShipVia" class="form-control" />
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-3">
                                        <button id="btn-select-shipper" class="btn btn-primary" type="button"><i class="fa fa-ship"></i> Select</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 control-label">Shipper Name</div>
                                    <div class="col-md-3">
                                        <input data-bind="ShipperName" editable type="text" name="ShipperName" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 control-label">Ship Name</div>
                                    <div class="col-md-3">
                                        <input data-bind="ShipName" editable type="text" name="ShipName" class="form-control" />
                                    </div>
                                    <div class="col-md-2 control-label">Ship Region</div>
                                    <div class="col-md-3">
                                        <input data-bind="ShipRegion" editable type="text" name="ShipRegion" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2 control-label">ShipAddress</div>
                                    <div class="col-md-3">
                                        <input data-bind="ShipAddress" editable type="text" name="ShipAddress" class="form-control" />
                                    </div>
                                    <div class="col-md-2 control-label">Ship Postal Code</div>
                                    <div class="col-md-3">
                                        <input data-bind="ShipPostalCode" editable type="text" name="ShipPostalCode" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2 control-label">Ship City</div>
                                    <div class="col-md-3">
                                        <input data-bind="ShipCity" editable type="text" name="ShipCity" class="form-control" />
                                    </div>
                                    <div class="col-md-2 control-label">Ship Country</div>
                                    <div class="col-md-3">
                                        <input data-bind="ShipCountry" editable type="text" name="ShipCountry" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer text-center">
                <button id="btn-back" type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> Close</button>
                <button id="btn-save" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
            </div>
        </form>
    </div>

    <div id="product-detail" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        Product Detail
                        <span class="close" style="color: white; opacity:1" data-dismiss="modal">&times;</span>
                    </div>
                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-4 control-label">Product ID</div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input data-bind="product.ProductID" type="text" name="ProductID" class="form-control" readonly/>
                                        <div class="input-group-btn">
                                            <button id="btn-select-product" type="button" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Product Name</div>
                                <div class="col-md-6">
                                    <input data-bind="product.ProductName" type="text" name="ProductName" class="form-control" readonly/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Unit Price</div>
                                <div class="col-md-6">
                                    <input data-bind="product.UnitPrice" type="text" name="UnitPrice" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Quantity</div>
                                <div class="col-md-6">
                                    <input editable data-bind="product.Quantity" type="text" name="Quantity" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 control-label">Discount</div>
                                <div class="col-md-6">
                                    <input editable data-bind="product.Discount" type="text" name="Discount" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-remove"></i> Close
                        </button>
                        <button btn-save-product type="button" class="btn btn-primary">
                            <i class="fa fa-save"></i> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="select-customer" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        Select Customer
                        <span class="close" style="color: white; opacity:1" data-dismiss="modal">&times;</span>
                    </div>
                    <div class="box-body">
                        <div id="grid-customer"></div>
                    </div>
                    <div class="box-footer text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-remove"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="select-shipper" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        Select Shipper
                        <span class="close" style="color: white; opacity:1" data-dismiss="modal">&times;</span>
                    </div>
                    <div class="box-body">
                        <div id="grid-shipper"></div>
                    </div>
                    <div class="box-footer text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-remove"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="select-product" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        Select Product
                        <span class="close" style="color: white; opacity:1" data-dismiss="modal">&times;</span>
                    </div>
                    <div class="box-body">
                        <div id="grid-product"></div>
                    </div>
                    <div class="box-footer text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-remove"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<!-- /.content -->

@section scripts
{
<script src="~/Scripts/xlsx.full.min.js"></script>
    <script>
        (function () {
            //lookup product
            var gridProduct = gridview("grid-product", {
                url: "/Product/Paging",
                columns: [
                    {
                        text: "", render: function (c) {
                            var tmpl = "<a action='select'><i class='fa fa-check'></i></a>";
                            return tmpl;
                        }
                    },
                    { field: "ProductID", text: "Product ID", sortable: true },
                    { field: "ProductName", text: "Product Name", sortable: true },
                    { field: "QuantityPerUnit", text: "Quantity Per Unit", sortable: true },
                    { field: "UnitPrice", text: "Unit Price", sortable: true },
                    { field: "UnitsInStock", text: "Units In Stock", sortable: true }
                ],
                fieldKey: "ProductID",
                select: function (prod) {
                    var index = Array.prototype.findIndex.call(scope.products, function (item) {
                        return item.ProductID === prod.ProductID
                    });
                    if (index > -1) {
                        Swal.fire("Error", "Product already exist!", "error");
                        return;
                    }
                    scope.product.ProductID = prod.ProductID;
                    scope.product.ProductName = prod.ProductName;
                    scope.product.UnitPrice = prod.UnitPrice;
                    $("#select-product").modal("hide");
                }
            });

            //lookup shipper
            var gridShipper = gridview("grid-shipper", {
                url: "/Shipper/Paging",
                columns: [
                    {
                        text: "", render: function (c) {
                            var tmpl = "<a action='select'><i class='fa fa-check'></i></a>";
                            return tmpl;
                        }
                    },
                    { field: "ShipperID", text: "Shipper ID", sortable: true },
                    { field: "CompanyName", text: "CompanyName", sortable: true },
                    { field: "Phone", text: "Phone", sortable: true }
                ],
                fieldKey: "ShipperID",
                select: function (ship) {
                    scope.order.ShipVia = ship.ShipperID;
                    console.log(ship);
                    $("[data-bind='ShipperName']").val(ship.CompanyName);
                    $("#select-shipper").modal("hide");
                }
            });

            //grid lookup customer
            var gridCustomer = gridview("grid-customer", {
                url: "/Customer/Paging",
                columns: [
                    {
                        text: "", render: function (c) {
                            var tmpl = "<a action='select'><i class='fa fa-check'></i></a>";
                            return tmpl;
                        }
                    },
                    { field: "CustomerID", text: "Customer ID", sortable: true },
                    { field: "CompanyName", text: "CompanyName", sortable: true },
                    { field: "ContactName", text: "ContactName", sortable: true },
                    { field: "ContactTitle", text: "ContactTitle", sortable: true },
                    { field: "Address", text: "Address", sortable: true },
                    { field: "City", text: "City", sortable: true },
                    { field: "Country", text: "Country", sortable: true }
                ],
                fieldKey: "CustomerID",
                select: function (cus) {
                    scope.order.CustomerID = cus.CustomerID;
                    scope.customer = cus;
                    $("#select-customer").modal("hide");
                },
            });

            //class Order
            function Order() {
                return {
                    OrderID: 0,
                    CustomerID: 0,
                    EmployeeID: 1,
                    OrderDate: '',
                    RequiredDate: '',
                    ShippedDate: '',
                    ShipVia: 0,
                    Freight: 0,
                    ShipName: '',
                    ShipAddress: '',
                    ShipCity: '',
                    ShipRegion: '',
                    ShipPostalCode: '',
                    ShipCountry: ''
                }
            }

            //class Customer
            function Customer() {
                return {
                    CustomerID: '',
                    CompanyName: '',
                    ContactName: '',
                    ContactTitle: '',
                    Address: '',
                    City: '',
                    PostalCode: '',
                    Region: '',
                    Country: '',
                    Phone: '',
                    Fax: ''
                }
            }

            //class product
            function Product() {
                return {
                    OrderID: 0,
                    ProductID: 0,
                    ProductName: '',
                    UnitPrice: 0,
                    Quantity: 0,
                    Discount: 0
                }
            }

            var state = 'new';
            var indexProduct = -1;

            //Data binding
            var scope = (function () {
                return Bind({
                    order: new Order(),
                    customer: new Customer(),
                    products: [],
                    product: new Product()
                }, {
                        "order.OrderID": "[data-bind='OrderID']",
                        "order.CustomerID": "[data-bind='CustomerID']",
                        "order.EmployeeID": "[data-bind='EmployeeID']",
                        "order.OrderDate": "[data-bind='OrderDate']",
                        "order.RequiredDate": "[data-bind='RequiredDate']",
                        "order.ShippedDate": "[data-bind='ShippedDate']",
                        "order.ShipVia": "[data-bind='ShipVia']",
                        "order.Freight": "[data-bind='Freight']",
                        "order.ShipName": "[data-bind='ShipName']",
                        "order.ShipAddress": "[data-bind='ShipAddress']",
                        "order.ShipCity": "[data-bind='ShipCity']",
                        "order.ShipRegion": "[data-bind='ShipRegion']",
                        "order.ShipPostalCode": "[data-bind='ShipPostalCode']",
                        "order.ShipCountry": "[data-bind='ShipCountry']",
                        "customer.CompanyName": "[data-bind='customer.CompanyName']",
                        "customer.ContactName": "[data-bind='customer.ContactName']",
                        "customer.ContactTitle": "[data-bind='customer.ContactTitle']",
                        "customer.Address": "[data-bind='customer.Address']",
                        "customer.City": "[data-bind='customer.City']",
                        "customer.Region": "[data-bind='customer.Region']",
                        "customer.PostalCode": "[data-bind='customer.PostalCode']",
                        "customer.Country": "[data-bind='customer.Country']",
                        "customer.Phone": "[data-bind='customer.Phone']",
                        "customer.Fax": "[data-bind='customer.Fax']",
                        "products": {
                            dom: "#trProducts",
                            transform: function (row) {
                                var template = "<tr> \
                                            <td> \
                                                <a action='edit' data-id='"+ row.ProductID +"'><i class='fa fa-edit'></i></a> \
                                                <a action='remove' data-id='"+ row.ProductID +"'><i class='fa fa-trash'></i></a> \
                                            </td> \
                                            <td>"+ row.ProductID+"</td> \
                                            <td>"+ row.ProductName +"</td> \
                                            <td class='text-right'>"+ row.UnitPrice +"</td> \
                                            <td class='text-right'>"+ row.Quantity +"</td> \
                                            <td class='text-right'>"+ row.Discount +"</td> \
                                        </tr>";
                                return template;
                            },
                            callback: function (items) { 
                                $("#trProducts tr td a").click(function (e) {
                                    var a = e.target.parentElement;
                                    var action = a.attributes["action"].value;
                                    var prodID = a.attributes["data-id"].value;
                                    indexProduct = scope.products.findIndex(function (item) { return item.ProductID == prodID });
                                    if (action === 'edit') { 
                                        scope.product = scope.products[indexProduct];
                                        $("#product-detail").modal({ backdrop: "static" });
                                    } else {
                                        scope.products.splice(indexProduct, 1);
                                    }

                                });
                            }
                        }, 
                        "product.ProductID": "[data-bind='product.ProductID']",
                        "product.ProductName": "[data-bind='product.ProductName']",
                        "product.UnitPrice": "[data-bind='product.UnitPrice']",
                        "product.Quantity": "[data-bind='product.Quantity']",
                        "product.Discount": "[data-bind='product.Discount']"
                    });
            }());

            //grid order
            var grid = gridview("grid-order", {
                url: "/Order/Paging",
                columns: [
                    {
                        text: "", render: function (c) {
                            var tmpl = "<a action='view'><i class='fa fa-search'></i></a>";
                            tmpl += "<a action='edit'><i class='fa fa-edit'></i></a>";
                            tmpl += "<a action='remove'><i class='fa fa-trash'></i></a>";
                            return tmpl;
                        }
                    },
                    { field: "OrderID", text: "Order ID", sortable: true },
                    { field: "CustomerName", text: "Customer", sortable: true },
                    { field: "OrderDate", text: "OrderDate", sortable: true },
                    { field: "RequiredDate", text: "Required", sortable: true },
                    { field: "ShippedDate", text: "Shipped", sortable: true },
                    { field: "ShipperName", text: "Shipper", sortable: true },
                    { field: "Freight", text: "Freight", sortable: true },
                    { field: "ShipName", text: "ShipName", sortable: true },
                    { field: "ShipCity", text: "Ship City", sortable: true },
                    { field: "ShipCountry", text: "Ship Country", sortable: true }
                ],
                fieldKey: "OrderID",
                view: view,
                edit: edit,
                remove: remove
            });

            function getData(ord) { 
                axios.all([
                    axios.get("/Customer/Get/" + ord.CustomerID),
                    axios.get("/Shipper/Get/" + ord.ShipVia),
                    axios.get("/Order/GetProducts/" + ord.OrderID)])
                    .then(function (res) {
                        var resCus = res[0].data;
                        if (resCus.meta.success) {
                            scope.customer = resCus.data;
                        }

                        var resShip = res[1].data;
                        if (resShip.meta.success) {
                            $("[data-bind='ShipperName']").val(resShip.data.CompanyName);
                        }

                        var resProducts = res[2].data;
                        scope.products = [];
                        if (resProducts.meta.success) { 
                            var products = resProducts.data || [];
                            products.forEach(function (row) {
                                scope.products.push(row);
                            }); 
                            if (state === 'view') {
                                $("#product-list tr th:nth-child(1)").hide();
                                $("#product-list tr td:nth-child(1)").hide();
                            } else {
                                $("#product-list tr th:nth-child(1)").show();
                                $("#product-list tr td:nth-child(1)").show();
                            }
                        }

                    });
            }

            function view(ord) {
                state = 'view';
                scope.order = ord;
                getData(ord);
                $("[date-picker]").each(function (i, e) { $(e).siblings("div").css("background-color", "#eee"); });
                $("[data-bind]").attr("disabled", true);
                $("#btn-save,#btn-select-customer,#btn-add-product,#btn-select-shipper").hide();
                
                showDetail();
            }

            function edit(ord) {
                state = 'edit';
                scope.order = ord;
                getData(ord);
                $("[date-picker]").each(function (i, e) {
                    $(e).datepicker("update", ord[$(e).attr("data-bind")])
                        .siblings("div").css("background-color", "#fff");
                });
                $("[editable]").attr("disabled", false);
                $("#btn-save,#btn-select-customer,#btn-add-product,#btn-select-shipper").show();
                showDetail();
            }

            function remove(cus) {

            }

            function addNew() {
                state = 'new';
                scope.order = new Order();
                scope.customer = new Customer();
                scope.product = new Product();
                scope.products = [];
                $("[data-bind='ShipperName']").val("");
                $("[date-picker]").each(function (i, e) {
                    $(e).siblings("div").css("background-color", "#fff");
                });
                $("[editable]").attr("disabled", false);
                $("#btn-save,#btn-select-customer,#btn-add-product,#btn-select-shipper").show();
                showDetail();
            }

            function addNewProduct() {
                indexProduct = -1;
                scope.product = new Product();
                $("#product-detail").modal({ backdrop: "static" });
            }

            function showDetail() {
                $("#data-list").fadeOut(200, function () { $("#data-detail").fadeIn(300); });
            }

            function showList() {
                $("#data-detail").fadeOut(200, function () { $("#data-list").fadeIn(300); });
            }

            function saveProduct() {
                var valid = false;
                var errorMsg = "";
                if (scope.product.ProductID == 0) {
                    errorMsg = "Please select product first!"
                } else if (scope.product.Quantity == 0 || scope.product.Quantity === '') {
                    errorMsg = "Please input quantity!"
                } else {
                    valid = true;
                }
                if (valid) {
                    if (indexProduct > -1) {
                        var prod = scope.product;
                        scope.products.splice(indexProduct, 1, prod);
                    } else {
                        var prod = JSON.parse(JSON.stringify(scope.product));
                        scope.products.push(prod);
                    }
                    $("#product-detail").modal("hide");
                } else {
                    Swal.fire("Error", errorMsg, "error"); 
                }
                
            }

            function saveOrder() {
                var list = [];
                for (var i = 0; i < scope.products.length; i++) {
                    list.push(scope.products[i]);
                }
                                 
                var orderModel = {
                    order: scope.order,
                    orderDetails: list
                }
                var url = "/Order/" + (state === 'new' ? "Insert" : "Update");
                console.log("Data: ", orderModel, "url: ", url); 
                axios.post(url, { "orderModel": orderModel }).then(function (res) { return res.data })
                    .then(function (res) {
                        if (res.meta.success) {
                            Swal.fire("Success", "Save data success!", "success").then(function (ok) {
                                showList();
                                grid.reload();
                            });
                        } else {
                            Swal.fire("Error", "Save data fail!", "error")
                        }
                    })
                    .catch(function (err) { Swal.fire("Error", err, "error") })
            }

            var uploadProduct = [];
            function fileExcelChange(event) {
                var input = event.target;
                var files = input.files;
                if (files.length > 0) {
                    var file = files[0];
                    $("#file-name").val(file.name);
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var data = e.target.result;
                        var workbook = XLSX.read(data, { type: 'binary' });
                        var sheet1 = workbook.Sheets["Sheet1"];
                        uploadProduct = XLSX.utils.sheet_to_json(sheet1);
                          
                    } 
                    reader.readAsBinaryString(file); 
                } 
            }

            function upload() {
                Array.prototype.forEach.call(uploadProduct, function (prod,i) {
                    prod["OrderID"] = scope.order.OrderID;
                    var index = Array.prototype.findIndex.call(scope.products, function (item) { return item.ProductID === prod.ProductID })
                    if (index > -1) {
                        var p = scope.products[index];
                        p.Quantity = prod.Quantity;
                        p.Discount = prod.Discount;
                        scope.products.splice(index, 1, p);
                    } else {
                        scope.products.push(prod); 
                    }
                    
                });
                uploadProduct = [];
            }

            $("#btn-add").click(addNew);
            $("#btn-back").click(showList);
            $("#btn-save").click(saveOrder);
            $("#btn-add-product").click(addNewProduct);
            $("#btn-select-customer").click(function () { $("#select-customer").modal(); });
            $("#btn-select-shipper").click(function () { $("#select-shipper").modal(); });
            $("#btn-select-product").click(function () { $("#select-product").modal(); });
            $("[btn-save-product]").click(saveProduct);
            $("#file-excel").change(fileExcelChange);
            $("#file-name").focus(function () {
                $("#btn-upload").focus();
            });

            $("#btn-show-upload").click(function () {
                $("#upload-container").toggleClass("show-upload");
            });

            $("#btn-upload").click(upload);

            $("[date-picker]").datepicker({ autoclose: true, format: "yyyy-M-dd" })
                .on("changeDate", function (e) { 
                    scope.order[e.target.name] = e.target.value; 
                });
            
            $("[data-bind='ShipVia'],[data-bind='ShipperName']")
                .focus(function () { $("#btn-select-shipper").focus() });
        }());
    </script>
}
